<div name="addForm">
  <h2 class="mat-dialog-title">Add Item :</h2>
  <div class="mat-dialog-content form-container">
    <mat-form-field>
      <input matInput #newLabel placeholder="Label" [formControl]="label" required  />
      <mat-error *ngIf="label.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput #newDifficulty min="0" max="4" type="number" placeholder="Difficulty" />
    </mat-form-field>
    <mat-form-field>
      <input matInput #newDate [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput #newDetails type="text" placeholder="Details"></textarea>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput #newAddress type="text" placeholder="Address"></textarea>
    </mat-form-field>
    <br />
    <mat-dialog-actions>
      <button mat-raised-button type="button" (click)="onCloseConfirm(newLabel.value, newDifficulty.value, newDate.value, newDetails.value, newAddress.value)" id="submit">OK</button>
      <button mat-raised-button type="button" (click)="onCloseCancel()">CLOSE</button>
    </mat-dialog-actions>
  </div>
</div>

<script>

</script>
